<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>MyWebSite</title>
</head>
<body>
    {% if message %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type=text/javascript>
			$(document).ready(function() {
                alert('{{message}}');
                });
        </script>

    {%endif%}
    {% block body%} {% endblock %}
</body>
</html>